* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 65.5%;

  --animation-time: 700ms;
}

body {
  font-size: 1.6rem;
}

.page {
  margin: 0 auto;
  margin-top: 33.34vh;
  width: 82.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main span {
  font-family: 'Roboto';
  line-height: 14.8rem;
  text-transform: uppercase;
  color: #323238;
  font-size: clamp(4rem, 1rem + 11vw, 11.8rem);
  transition: color var(--animation-time);
}

.buttons {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
}

.buttons button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.cards {
  display: grid;
  grid-template-areas:
    'A B'
    'C D';

  gap: 3.2rem;
  margin-left: 19.2rem;
}

.card section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 13.8rem;
  height: 15.2rem;
  background: #e1e1e6;
  border-radius: 2.4rem;
  border: none;

  transition: background var(--animation-time);
}

.card section button {
  width: 12rem;
  height: 8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.card section input {
  width: 10rem;
  cursor: pointer;
}

/* dark mode button */

.dark-btn {
  position: absolute;
  top: 2.5rem;
  right: 5rem;
}

.dark-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.dark-btn .hide {
  display: none;
}

/* CARD ACTIVE */

.card section.active {
  background: #02799d;
}

.card section.active svg path {
  fill: white;
}

/* BUTTONS ACTIVE */

.buttons button.active svg path {
  fill: #02799d;
}

body {
  background-color: white;
  transition: background var(--animation-time);
}

/* DARK MODE */

body.dark {
  background-color: black;

  transition: background var(--animation-time);
}

body.dark span {
  color: white;
  transition: color var(--animation-time);
}

body.dark section {
  background-color: #29292e;

  transition: background var(--animation-time);
}

body.dark section svg path {
  fill: #c4c4cc;
  transition: fill var(--animation-time);
}

body.dark .buttons button svg path {
  fill: #c4c4cc;
  transition: fill var(--animation-time);
}

.dark .buttons button.active svg path {
  fill: #02799d;
}
body.dark .card section.active {
  background: #0a3442;
}
